train_dir/
datasets/
.ropeproject
qa_sample/
*.py[cod]
*.sw[op]
*.hy

*.gz
Percentage_model-2000/
Resultado/
Percentage_model-10000/questaoCertaTreinamento_21501.json
Percentage_model-10000/questaoErradaTreinamento_18499.json
Percentage_model-100000/questaoCertaTreinamento_39358.json
Percentage_model-100000/questaoErradaTreinamento_642.json
Percentage_model-102000/questaoCertaTreinamento_39461.json
Percentage_model-102000/questaoErradaTreinamento_539.json
Percentage_model-104000/questaoCertaTreinamento_39436.json
Percentage_model-104000/questaoErradaTreinamento_564.json
Percentage_model-106000/questaoCertaTreinamento_39518.json
Percentage_model-106000/questaoErradaTreinamento_482.json
Percentage_model-108000/questaoCertaTreinamento_38844.json
Percentage_model-108000/questaoErradaTreinamento_1156.json
Percentage_model-110000/questaoCertaTreinamento_39575.json
Percentage_model-110000/questaoErradaTreinamento_425.json
Percentage_model-112000/questaoCertaTreinamento_39420.json
Percentage_model-112000/questaoErradaTreinamento_580.json
Percentage_model-114000/questaoCertaTreinamento_39543.json
Percentage_model-114000/questaoErradaTreinamento_457.json
Percentage_model-116000/questaoCertaTreinamento_39590.json
Percentage_model-116000/questaoErradaTreinamento_410.json
Percentage_model-118000/questaoCertaTreinamento_39660.json
Percentage_model-118000/questaoErradaTreinamento_340.json
Percentage_model-12000/questaoCertaTreinamento_22168.json
Percentage_model-12000/questaoErradaTreinamento_17832.json
Percentage_model-120000/questaoCertaTreinamento_39618.json
Percentage_model-120000/questaoErradaTreinamento_382.json
Percentage_model-122000/questaoCertaTreinamento_39324.json
Percentage_model-122000/questaoErradaTreinamento_676.json
Percentage_model-124000/questaoCertaTreinamento_39660.json
Percentage_model-124000/questaoErradaTreinamento_340.json
Percentage_model-126000/questaoCertaTreinamento_39445.json
Percentage_model-126000/questaoErradaTreinamento_555.json
Percentage_model-128000/questaoCertaTreinamento_39616.json
Percentage_model-128000/questaoErradaTreinamento_384.json
Percentage_model-14000/questaoCertaTreinamento_22847.json
Percentage_model-14000/questaoErradaTreinamento_17153.json
Percentage_model-16000/questaoCertaTreinamento_23923.json
Percentage_model-16000/questaoErradaTreinamento_16077.json
Percentage_model-18000/questaoCertaTreinamento_25688.json
Percentage_model-18000/questaoErradaTreinamento_14312.json
Percentage_model-20000/questaoCertaTreinamento_27350.json
Percentage_model-20000/questaoErradaTreinamento_12650.json
Percentage_model-22000/questaoCertaTreinamento_29211.json
Percentage_model-22000/questaoErradaTreinamento_10789.json
Percentage_model-24000/questaoCertaTreinamento_29382.json
Percentage_model-24000/questaoErradaTreinamento_10618.json
Percentage_model-26000/questaoCertaTreinamento_29485.json
Percentage_model-26000/questaoErradaTreinamento_10515.json
Percentage_model-28000/questaoCertaTreinamento_29423.json
Percentage_model-28000/questaoErradaTreinamento_10577.json
Percentage_model-30000/questaoCertaTreinamento_29381.json
Percentage_model-30000/questaoErradaTreinamento_10619.json
Percentage_model-32000/questaoCertaTreinamento_29430.json
Percentage_model-32000/questaoErradaTreinamento_10570.json
Percentage_model-34000/questaoCertaTreinamento_29258.json
Percentage_model-34000/questaoErradaTreinamento_10742.json
Percentage_model-36000/questaoCertaTreinamento_29483.json
Percentage_model-36000/questaoErradaTreinamento_10517.json
Percentage_model-38000/questaoCertaTreinamento_29479.json
Percentage_model-38000/questaoErradaTreinamento_10521.json
Percentage_model-4000/questaoCertaTreinamento_18145.json
Percentage_model-4000/questaoErradaTreinamento_21855.json
Percentage_model-40000/questaoCertaTreinamento_29572.json
Percentage_model-40000/questaoErradaTreinamento_10428.json
Percentage_model-42000/questaoCertaTreinamento_29593.json
Percentage_model-42000/questaoErradaTreinamento_10407.json
Percentage_model-44000/questaoCertaTreinamento_30763.json
Percentage_model-44000/questaoErradaTreinamento_9237.json
Percentage_model-46000/questaoCertaTreinamento_32237.json
Percentage_model-46000/questaoErradaTreinamento_7763.json
Percentage_model-48000/questaoCertaTreinamento_33282.json
Percentage_model-48000/questaoErradaTreinamento_6718.json
Percentage_model-50000/questaoCertaTreinamento_34295.json
Percentage_model-50000/questaoErradaTreinamento_5705.json
Percentage_model-52000/questaoCertaTreinamento_35499.json
Percentage_model-52000/questaoErradaTreinamento_4501.json
Percentage_model-54000/questaoCertaTreinamento_36113.json
Percentage_model-54000/questaoErradaTreinamento_3887.json
Percentage_model-56000/questaoCertaTreinamento_37223.json
Percentage_model-56000/questaoErradaTreinamento_2777.json
Percentage_model-58000/questaoCertaTreinamento_37429.json
Percentage_model-58000/questaoErradaTreinamento_2571.json
Percentage_model-6000/questaoCertaTreinamento_19154.json
Percentage_model-6000/questaoErradaTreinamento_20846.json
Percentage_model-60000/questaoCertaTreinamento_37705.json
Percentage_model-60000/questaoErradaTreinamento_2295.json
Percentage_model-62000/questaoCertaTreinamento_37740.json
Percentage_model-62000/questaoErradaTreinamento_2260.json
Percentage_model-64000/questaoCertaTreinamento_38266.json
Percentage_model-64000/questaoErradaTreinamento_1734.json
Percentage_model-66000/questaoCertaTreinamento_38421.json
Percentage_model-66000/questaoErradaTreinamento_1579.json
Percentage_model-68000/questaoCertaTreinamento_38413.json
Percentage_model-68000/questaoErradaTreinamento_1587.json
Percentage_model-70000/questaoCertaTreinamento_38585.json
Percentage_model-70000/questaoErradaTreinamento_1415.json
Percentage_model-72000/questaoCertaTreinamento_38783.json
Percentage_model-72000/questaoErradaTreinamento_1217.json
Percentage_model-74000/questaoCertaTreinamento_38834.json
Percentage_model-74000/questaoErradaTreinamento_1166.json
Percentage_model-76000/questaoCertaTreinamento_38899.json
Percentage_model-76000/questaoErradaTreinamento_1101.json
Percentage_model-78000/questaoCertaTreinamento_38951.json
Percentage_model-78000/questaoErradaTreinamento_1049.json
Percentage_model-8000/questaoCertaTreinamento_19893.json
Percentage_model-8000/questaoErradaTreinamento_20107.json
Percentage_model-80000/questaoCertaTreinamento_38685.json
Percentage_model-80000/questaoErradaTreinamento_1315.json
Percentage_model-82000/questaoCertaTreinamento_39052.json
Percentage_model-82000/questaoErradaTreinamento_948.json
Percentage_model-84000/questaoCertaTreinamento_39191.json
Percentage_model-84000/questaoErradaTreinamento_809.json
Percentage_model-86000/questaoCertaTreinamento_39082.json
Percentage_model-86000/questaoErradaTreinamento_918.json
Percentage_model-88000/questaoCertaTreinamento_39292.json
Percentage_model-88000/questaoErradaTreinamento_708.json
Percentage_model-90000/questaoCertaTreinamento_39238.json
Percentage_model-90000/questaoErradaTreinamento_762.json
Percentage_model-92000/questaoCertaTreinamento_38985.json
Percentage_model-92000/questaoErradaTreinamento_1015.json
Percentage_model-94000/questaoCertaTreinamento_39178.json
Percentage_model-94000/questaoErradaTreinamento_822.json
Percentage_model-96000/questaoCertaTreinamento_39307.json
Percentage_model-96000/questaoErradaTreinamento_693.json
Percentage_model-98000/questaoCertaTreinamento_39217.json
Percentage_model-98000/questaoErradaTreinamento_783.json
Percentage_model-10000/questaoCertaTeste_5349.json
Percentage_model-10000/questaoCertaTreinamento_21392.json
Percentage_model-10000/questaoErradaTeste_4651.json
Percentage_model-10000/questaoErradaTreinamento_18558.json
Percentage_model-100000/questaoCertaTreinamento_39339.json
Percentage_model-100000/questaoErradaTreinamento_611.json
Percentage_model-102000/questaoCertaTreinamento_39437.json
Percentage_model-102000/questaoErradaTreinamento_513.json
Percentage_model-104000/questaoCertaTreinamento_39376.json
Percentage_model-104000/questaoErradaTreinamento_574.json
Percentage_model-106000/questaoCertaTreinamento_39451.json
Percentage_model-106000/questaoErradaTreinamento_499.json
Percentage_model-108000/questaoCertaTreinamento_38753.json
Percentage_model-108000/questaoErradaTreinamento_1197.json
Percentage_model-110000/questaoCertaTreinamento_39461.json
Percentage_model-110000/questaoErradaTreinamento_489.json
Percentage_model-112000/questaoCertaTreinamento_39379.json
Percentage_model-112000/questaoErradaTreinamento_571.json
Percentage_model-114000/questaoCertaTreinamento_39502.json
Percentage_model-114000/questaoErradaTreinamento_448.json
Percentage_model-116000/questaoCertaTreinamento_39527.json
Percentage_model-116000/questaoErradaTreinamento_423.json
Percentage_model-118000/questaoCertaTreinamento_39588.json
Percentage_model-118000/questaoErradaTreinamento_362.json
Percentage_model-12000/questaoCertaTeste_5582.json
Percentage_model-12000/questaoCertaTreinamento_22176.json
Percentage_model-12000/questaoErradaTeste_4418.json
Percentage_model-12000/questaoErradaTreinamento_17774.json
Percentage_model-120000/questaoCertaTreinamento_39559.json
Percentage_model-120000/questaoErradaTreinamento_391.json
Percentage_model-122000/questaoCertaTreinamento_39295.json
Percentage_model-122000/questaoErradaTreinamento_655.json
Percentage_model-124000/questaoCertaTreinamento_39612.json
Percentage_model-124000/questaoErradaTreinamento_338.json
Percentage_model-126000/questaoCertaTreinamento_39388.json
Percentage_model-126000/questaoErradaTreinamento_562.json
Percentage_model-128000/questaoCertaTreinamento_39598.json
Percentage_model-128000/questaoErradaTreinamento_352.json
Percentage_model-14000/questaoCertaTeste_5738.json
Percentage_model-14000/questaoCertaTreinamento_22838.json
Percentage_model-14000/questaoErradaTeste_4262.json
Percentage_model-14000/questaoErradaTreinamento_17112.json
Percentage_model-16000/questaoCertaTeste_5975.json
Percentage_model-16000/questaoCertaTreinamento_24005.json
Percentage_model-16000/questaoErradaTeste_4025.json
Percentage_model-16000/questaoErradaTreinamento_15945.json
Percentage_model-18000/questaoCertaTeste_6362.json
Percentage_model-18000/questaoCertaTreinamento_25609.json
Percentage_model-18000/questaoErradaTeste_3638.json
Percentage_model-18000/questaoErradaTreinamento_14341.json
Percentage_model-20000/questaoCertaTeste_6736.json
Percentage_model-20000/questaoCertaTreinamento_27194.json
Percentage_model-20000/questaoErradaTeste_3264.json
Percentage_model-20000/questaoErradaTreinamento_12756.json
Percentage_model-22000/questaoCertaTeste_7271.json
Percentage_model-22000/questaoCertaTreinamento_29107.json
Percentage_model-22000/questaoErradaTeste_2729.json
Percentage_model-22000/questaoErradaTreinamento_10843.json
Percentage_model-24000/questaoCertaTreinamento_29475.json
Percentage_model-24000/questaoErradaTreinamento_10475.json
Percentage_model-26000/questaoCertaTreinamento_29457.json
Percentage_model-26000/questaoErradaTreinamento_10493.json
Percentage_model-28000/questaoCertaTreinamento_29425.json
Percentage_model-28000/questaoErradaTreinamento_10525.json
Percentage_model-30000/questaoCertaTreinamento_29426.json
Percentage_model-30000/questaoErradaTreinamento_10524.json
Percentage_model-32000/questaoCertaTreinamento_29437.json
Percentage_model-32000/questaoErradaTreinamento_10513.json
Percentage_model-34000/questaoCertaTreinamento_29221.json
Percentage_model-34000/questaoErradaTreinamento_10729.json
Percentage_model-36000/questaoCertaTreinamento_29571.json
Percentage_model-36000/questaoErradaTreinamento_10379.json
Percentage_model-38000/questaoCertaTreinamento_29377.json
Percentage_model-38000/questaoErradaTreinamento_10573.json
Percentage_model-4000/questaoCertaTeste_4456.json
Percentage_model-4000/questaoCertaTreinamento_18166.json
Percentage_model-4000/questaoErradaTeste_5544.json
Percentage_model-4000/questaoErradaTreinamento_21784.json
Percentage_model-40000/questaoCertaTreinamento_29414.json
Percentage_model-40000/questaoErradaTreinamento_10536.json
Percentage_model-42000/questaoCertaTreinamento_29621.json
Percentage_model-42000/questaoErradaTreinamento_10329.json
Percentage_model-44000/questaoCertaTreinamento_30798.json
Percentage_model-44000/questaoErradaTreinamento_9152.json
Percentage_model-46000/questaoCertaTreinamento_32153.json
Percentage_model-46000/questaoErradaTreinamento_7797.json
Percentage_model-48000/questaoCertaTreinamento_33221.json
Percentage_model-48000/questaoErradaTreinamento_6729.json
Percentage_model-50000/questaoCertaTreinamento_34281.json
Percentage_model-50000/questaoErradaTreinamento_5669.json
Percentage_model-52000/questaoCertaTreinamento_35385.json
Percentage_model-52000/questaoErradaTreinamento_4565.json
Percentage_model-54000/questaoCertaTreinamento_36065.json
Percentage_model-54000/questaoErradaTreinamento_3885.json
Percentage_model-56000/questaoCertaTreinamento_37133.json
Percentage_model-56000/questaoErradaTreinamento_2817.json
Percentage_model-58000/questaoCertaTreinamento_37367.json
Percentage_model-58000/questaoErradaTreinamento_2583.json
Percentage_model-6000/questaoCertaTeste_4798.json
Percentage_model-6000/questaoCertaTreinamento_19089.json
Percentage_model-6000/questaoErradaTeste_5202.json
Percentage_model-6000/questaoErradaTreinamento_20861.json
Percentage_model-60000/questaoCertaTreinamento_37658.json
Percentage_model-60000/questaoErradaTreinamento_2292.json
Percentage_model-62000/questaoCertaTreinamento_37715.json
Percentage_model-62000/questaoErradaTreinamento_2235.json
Percentage_model-64000/questaoCertaTreinamento_38227.json
Percentage_model-64000/questaoErradaTreinamento_1723.json
Percentage_model-66000/questaoCertaTreinamento_38311.json
Percentage_model-66000/questaoErradaTreinamento_1639.json
Percentage_model-68000/questaoCertaTreinamento_38361.json
Percentage_model-68000/questaoErradaTreinamento_1589.json
Percentage_model-70000/questaoCertaTreinamento_38570.json
Percentage_model-70000/questaoErradaTreinamento_1380.json
Percentage_model-72000/questaoCertaTreinamento_38715.json
Percentage_model-72000/questaoErradaTreinamento_1235.json
Percentage_model-74000/questaoCertaTreinamento_38726.json
Percentage_model-74000/questaoErradaTreinamento_1224.json
Percentage_model-76000/questaoCertaTreinamento_38824.json
Percentage_model-76000/questaoErradaTreinamento_1126.json
Percentage_model-78000/questaoCertaTreinamento_38937.json
Percentage_model-78000/questaoErradaTreinamento_1013.json
Percentage_model-8000/questaoCertaTeste_4959.json
Percentage_model-8000/questaoCertaTreinamento_19936.json
Percentage_model-8000/questaoErradaTeste_5041.json
Percentage_model-8000/questaoErradaTreinamento_20014.json
Percentage_model-80000/questaoCertaTreinamento_38665.json
Percentage_model-80000/questaoErradaTreinamento_1285.json
Percentage_model-82000/questaoCertaTreinamento_39007.json
Percentage_model-82000/questaoErradaTreinamento_943.json
Percentage_model-84000/questaoCertaTreinamento_39179.json
Percentage_model-84000/questaoErradaTreinamento_771.json
Percentage_model-86000/questaoCertaTreinamento_39053.json
Percentage_model-86000/questaoErradaTreinamento_897.json
Percentage_model-88000/questaoCertaTreinamento_39227.json
Percentage_model-88000/questaoErradaTreinamento_723.json
Percentage_model-90000/questaoCertaTreinamento_39130.json
Percentage_model-90000/questaoErradaTreinamento_820.json
Percentage_model-92000/questaoCertaTreinamento_38932.json
Percentage_model-92000/questaoErradaTreinamento_1018.json
Percentage_model-94000/questaoCertaTreinamento_39116.json
Percentage_model-94000/questaoErradaTreinamento_834.json
Percentage_model-96000/questaoCertaTreinamento_39223.json
Percentage_model-96000/questaoErradaTreinamento_727.json
Percentage_model-98000/questaoCertaTreinamento_39161.json
Percentage_model-98000/questaoErradaTreinamento_789.json
Percentage_model-100000/questaoCertaTeste_9672.json
Percentage_model-100000/questaoErradaTeste_328.json
Percentage_model-102000/questaoCertaTeste_9675.json
Percentage_model-102000/questaoErradaTeste_325.json
Percentage_model-104000/questaoCertaTeste_9685.json
Percentage_model-104000/questaoErradaTeste_315.json
Percentage_model-106000/questaoCertaTeste_9695.json
Percentage_model-106000/questaoErradaTeste_305.json
Percentage_model-108000/questaoCertaTeste_9549.json
Percentage_model-108000/questaoErradaTeste_451.json
Percentage_model-110000/questaoCertaTeste_9708.json
Percentage_model-110000/questaoErradaTeste_292.json
Percentage_model-112000/questaoCertaTeste_9679.json
Percentage_model-112000/questaoErradaTeste_321.json
Percentage_model-114000/questaoCertaTeste_9686.json
Percentage_model-114000/questaoErradaTeste_314.json
Percentage_model-116000/questaoCertaTeste_9723.json
Percentage_model-116000/questaoErradaTeste_277.json
Percentage_model-118000/questaoCertaTeste_9709.json
Percentage_model-118000/questaoErradaTeste_291.json
Percentage_model-120000/questaoCertaTeste_9751.json
Percentage_model-120000/questaoErradaTeste_249.json
Percentage_model-122000/questaoCertaTeste_9639.json
Percentage_model-122000/questaoErradaTeste_361.json
Percentage_model-124000/questaoCertaTeste_9699.json
Percentage_model-124000/questaoErradaTeste_301.json
Percentage_model-126000/questaoCertaTeste_9666.json
Percentage_model-126000/questaoErradaTeste_334.json
Percentage_model-128000/questaoCertaTeste_9689.json
Percentage_model-128000/questaoErradaTeste_311.json
Percentage_model-24000/questaoCertaTeste_7301.json
Percentage_model-24000/questaoErradaTeste_2699.json
Percentage_model-26000/questaoCertaTeste_7360.json
Percentage_model-26000/questaoErradaTeste_2640.json
Percentage_model-28000/questaoCertaTeste_7317.json
Percentage_model-28000/questaoErradaTeste_2683.json
Percentage_model-30000/questaoCertaTeste_7269.json
Percentage_model-30000/questaoErradaTeste_2731.json
Percentage_model-32000/questaoCertaTeste_7298.json
Percentage_model-32000/questaoErradaTeste_2702.json
Percentage_model-34000/questaoCertaTeste_7251.json
Percentage_model-34000/questaoErradaTeste_2749.json
Percentage_model-36000/questaoCertaTeste_7336.json
Percentage_model-36000/questaoErradaTeste_2664.json
Percentage_model-38000/questaoCertaTeste_7355.json
Percentage_model-38000/questaoErradaTeste_2645.json
Percentage_model-40000/questaoCertaTeste_7338.json
Percentage_model-40000/questaoErradaTeste_2662.json
Percentage_model-42000/questaoCertaTeste_7382.json
Percentage_model-42000/questaoErradaTeste_2618.json
Percentage_model-44000/questaoCertaTeste_7637.json
Percentage_model-44000/questaoErradaTeste_2363.json
Percentage_model-46000/questaoCertaTeste_7945.json
Percentage_model-46000/questaoErradaTeste_2055.json
Percentage_model-48000/questaoCertaTeste_8259.json
Percentage_model-48000/questaoErradaTeste_1741.json
Percentage_model-50000/questaoCertaTeste_8492.json
Percentage_model-50000/questaoErradaTeste_1508.json
Percentage_model-52000/questaoCertaTeste_8788.json
Percentage_model-52000/questaoErradaTeste_1212.json
Percentage_model-54000/questaoCertaTeste_8993.json
Percentage_model-54000/questaoErradaTeste_1007.json
Percentage_model-56000/questaoCertaTeste_9241.json
Percentage_model-56000/questaoErradaTeste_759.json
Percentage_model-58000/questaoCertaTeste_9254.json
Percentage_model-58000/questaoErradaTeste_746.json
Percentage_model-60000/questaoCertaTeste_9347.json
Percentage_model-60000/questaoErradaTeste_653.json
Percentage_model-62000/questaoCertaTeste_9373.json
Percentage_model-62000/questaoErradaTeste_627.json
Percentage_model-64000/questaoCertaTeste_9459.json
Percentage_model-64000/questaoErradaTeste_541.json
Percentage_model-66000/questaoCertaTeste_9440.json
Percentage_model-66000/questaoErradaTeste_560.json
Percentage_model-68000/questaoCertaTeste_9492.json
Percentage_model-68000/questaoErradaTeste_508.json
Percentage_model-70000/questaoCertaTeste_9561.json
Percentage_model-70000/questaoErradaTeste_439.json
Percentage_model-72000/questaoCertaTeste_9571.json
Percentage_model-72000/questaoErradaTeste_429.json
Percentage_model-74000/questaoCertaTeste_9571.json
Percentage_model-74000/questaoErradaTeste_429.json
Percentage_model-76000/questaoCertaTeste_9612.json
Percentage_model-76000/questaoErradaTeste_388.json
Percentage_model-78000/questaoCertaTeste_9594.json
Percentage_model-78000/questaoErradaTeste_406.json
Percentage_model-80000/questaoCertaTeste_9533.json
Percentage_model-80000/questaoErradaTeste_467.json
Percentage_model-82000/questaoCertaTeste_9629.json
Percentage_model-82000/questaoErradaTeste_371.json
Percentage_model-84000/questaoCertaTeste_9623.json
Percentage_model-84000/questaoErradaTeste_377.json
Percentage_model-86000/questaoCertaTeste_9639.json
Percentage_model-86000/questaoErradaTeste_361.json
Percentage_model-88000/questaoCertaTeste_9678.json
Percentage_model-88000/questaoErradaTeste_322.json
Percentage_model-90000/questaoCertaTeste_9652.json
Percentage_model-90000/questaoErradaTeste_348.json
Percentage_model-92000/questaoCertaTeste_9611.json
Percentage_model-92000/questaoErradaTeste_389.json
Percentage_model-94000/questaoCertaTeste_9638.json
Percentage_model-94000/questaoErradaTeste_362.json
Percentage_model-96000/questaoCertaTeste_9637.json
Percentage_model-96000/questaoErradaTeste_363.json
Percentage_model-98000/questaoCertaTeste_9613.json
Percentage_model-98000/questaoErradaTeste_387.json
Percentage_model-10000/questaoCertaTreinamento_21528.json
Percentage_model-10000/questaoErradaTreinamento_18472.json
Percentage_model-100000/questaoCertaTreinamento_39396.json
Percentage_model-100000/questaoErradaTreinamento_604.json
Percentage_model-102000/questaoCertaTreinamento_39499.json
Percentage_model-102000/questaoErradaTreinamento_501.json
Percentage_model-104000/questaoCertaTreinamento_39483.json
Percentage_model-104000/questaoErradaTreinamento_517.json
Percentage_model-106000/questaoCertaTreinamento_39522.json
Percentage_model-106000/questaoErradaTreinamento_478.json
Percentage_model-108000/questaoCertaTreinamento_38819.json
Percentage_model-108000/questaoErradaTreinamento_1181.json
Percentage_model-110000/questaoCertaTreinamento_39497.json
Percentage_model-110000/questaoErradaTreinamento_503.json
Percentage_model-112000/questaoCertaTreinamento_39419.json
Percentage_model-112000/questaoErradaTreinamento_581.json
Percentage_model-114000/questaoCertaTreinamento_39569.json
Percentage_model-114000/questaoErradaTreinamento_431.json
Percentage_model-116000/questaoCertaTreinamento_39607.json
Percentage_model-116000/questaoErradaTreinamento_393.json
Percentage_model-118000/questaoCertaTreinamento_39609.json
Percentage_model-118000/questaoErradaTreinamento_391.json
Percentage_model-12000/questaoCertaTreinamento_22146.json
Percentage_model-12000/questaoErradaTreinamento_17854.json
Percentage_model-120000/questaoCertaTreinamento_39600.json
Percentage_model-120000/questaoErradaTreinamento_400.json
Percentage_model-122000/questaoCertaTreinamento_39303.json
Percentage_model-122000/questaoErradaTreinamento_697.json
Percentage_model-124000/questaoCertaTreinamento_39652.json
Percentage_model-124000/questaoErradaTreinamento_348.json
Percentage_model-126000/questaoCertaTreinamento_39471.json
Percentage_model-126000/questaoErradaTreinamento_529.json
Percentage_model-128000/questaoCertaTreinamento_39621.json
Percentage_model-128000/questaoErradaTreinamento_379.json
Percentage_model-14000/questaoCertaTreinamento_22856.json
Percentage_model-14000/questaoErradaTreinamento_17144.json
Percentage_model-16000/questaoCertaTreinamento_23944.json
Percentage_model-16000/questaoErradaTreinamento_16056.json
Percentage_model-18000/questaoCertaTreinamento_25555.json
Percentage_model-18000/questaoErradaTreinamento_14445.json
Percentage_model-20000/questaoCertaTreinamento_27377.json
Percentage_model-20000/questaoErradaTreinamento_12623.json
Percentage_model-22000/questaoCertaTreinamento_29209.json
Percentage_model-22000/questaoErradaTreinamento_10791.json
Percentage_model-24000/questaoCertaTreinamento_29413.json
Percentage_model-24000/questaoErradaTreinamento_10587.json
Percentage_model-26000/questaoCertaTreinamento_29423.json
Percentage_model-26000/questaoErradaTreinamento_10577.json
Percentage_model-28000/questaoCertaTreinamento_29421.json
Percentage_model-28000/questaoErradaTreinamento_10579.json
Percentage_model-30000/questaoCertaTreinamento_29447.json
Percentage_model-30000/questaoErradaTreinamento_10553.json
Percentage_model-32000/questaoCertaTreinamento_29407.json
Percentage_model-32000/questaoErradaTreinamento_10593.json
Percentage_model-34000/questaoCertaTreinamento_29262.json
Percentage_model-34000/questaoErradaTreinamento_10738.json
Percentage_model-36000/questaoCertaTreinamento_29456.json
Percentage_model-36000/questaoErradaTreinamento_10544.json
Percentage_model-38000/questaoCertaTreinamento_29418.json
Percentage_model-38000/questaoErradaTreinamento_10582.json
Percentage_model-4000/questaoCertaTreinamento_18180.json
Percentage_model-4000/questaoErradaTreinamento_21820.json
Percentage_model-40000/questaoCertaTreinamento_29535.json
Percentage_model-40000/questaoErradaTreinamento_10465.json
Percentage_model-42000/questaoCertaTreinamento_29552.json
Percentage_model-42000/questaoErradaTreinamento_10448.json
Percentage_model-46000/questaoCertaTreinamento_32257.json
Percentage_model-46000/questaoErradaTreinamento_7743.json
Percentage_model-48000/questaoCertaTreinamento_33312.json
Percentage_model-48000/questaoErradaTreinamento_6688.json
Percentage_model-50000/questaoCertaTreinamento_34279.json
Percentage_model-50000/questaoErradaTreinamento_5721.json
Percentage_model-52000/questaoCertaTreinamento_35354.json
Percentage_model-52000/questaoErradaTreinamento_4646.json
Percentage_model-54000/questaoCertaTreinamento_36207.json
Percentage_model-54000/questaoErradaTreinamento_3793.json
Percentage_model-56000/questaoCertaTreinamento_37158.json
Percentage_model-56000/questaoErradaTreinamento_2842.json
Percentage_model-58000/questaoCertaTreinamento_37378.json
Percentage_model-58000/questaoErradaTreinamento_2622.json
Percentage_model-6000/questaoCertaTreinamento_19199.json
Percentage_model-6000/questaoErradaTreinamento_20801.json
Percentage_model-60000/questaoCertaTreinamento_37745.json
Percentage_model-60000/questaoErradaTreinamento_2255.json
Percentage_model-62000/questaoCertaTreinamento_37799.json
Percentage_model-62000/questaoErradaTreinamento_2201.json
Percentage_model-64000/questaoCertaTreinamento_38294.json
Percentage_model-64000/questaoErradaTreinamento_1706.json
Percentage_model-66000/questaoCertaTreinamento_38376.json
Percentage_model-66000/questaoErradaTreinamento_1624.json
Percentage_model-68000/questaoCertaTreinamento_38416.json
Percentage_model-68000/questaoErradaTreinamento_1584.json
Percentage_model-70000/questaoCertaTreinamento_38659.json
Percentage_model-70000/questaoErradaTreinamento_1341.json
Percentage_model-72000/questaoCertaTreinamento_38750.json
Percentage_model-72000/questaoErradaTreinamento_1250.json
Percentage_model-74000/questaoCertaTreinamento_38769.json
Percentage_model-74000/questaoErradaTreinamento_1231.json
Percentage_model-76000/questaoCertaTreinamento_38896.json
Percentage_model-76000/questaoErradaTreinamento_1104.json
Percentage_model-78000/questaoCertaTreinamento_38987.json
Percentage_model-8000/questaoCertaTreinamento_19947.json
Percentage_model-8000/questaoErradaTreinamento_20053.json
Percentage_model-80000/questaoCertaTreinamento_38739.json
Percentage_model-80000/questaoErradaTreinamento_1261.json
Percentage_model-82000/questaoCertaTreinamento_39069.json
Percentage_model-82000/questaoErradaTreinamento_931.json
Percentage_model-84000/questaoCertaTreinamento_39214.json
Percentage_model-84000/questaoErradaTreinamento_786.json
Percentage_model-86000/questaoCertaTreinamento_39084.json
Percentage_model-86000/questaoErradaTreinamento_916.json
Percentage_model-88000/questaoCertaTreinamento_39296.json
Percentage_model-88000/questaoErradaTreinamento_704.json
Percentage_model-90000/questaoCertaTreinamento_39219.json
Percentage_model-90000/questaoErradaTreinamento_781.json
Percentage_model-92000/questaoCertaTreinamento_38966.json
Percentage_model-92000/questaoErradaTreinamento_1034.json
Percentage_model-94000/questaoCertaTreinamento_39160.json
Percentage_model-94000/questaoErradaTreinamento_840.json
Percentage_model-96000/questaoCertaTreinamento_39269.json
Percentage_model-96000/questaoErradaTreinamento_731.json
Percentage_model-98000/questaoCertaTreinamento_39173.json
Percentage_model-98000/questaoErradaTreinamento_827.json
